{% extends 'movies/base.html' %}

{% block content %}



<article>
  <header>
    <div class="row">
     <div class="col-sm-1">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'country_new' %}">new</a>
       {% endif %}
      </div>
    </div>
  </header>
{% include 'movies/pagination.html' %}


  {% if countries %}
  <ul>

	{% for country in countries %}
    <!-- safe filter on for raw HTML stored in database -->
    <li><a href="{% url 'country_detail' country.pk %}">{{ country.country_area_name | safe }}</li></li>
	<!--<li>{{ country.m49_code | safe }}</li>-->
	{% endfor %}

  </ul>
  {% else %}
  <p>No Countries are available to view.</p>
  {% endif %}

  <p>page count: {{ countries.count }}</p>
</article>


{% endblock content %}
