{% extends 'movies/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<header>
  <div class="row">
    <div class="col-sm-11">
      <h2>TMDB Movies</h2>
    </div>
    <div class="col-sm-1">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'movie_new' %}">new</a>
       {% endif %}
    </div>
  </div>
</header>
  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-success">filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for movie in object_list %}
        <h4><a href="{% url 'singlemovie' movie.pk %}">{{ movie.movie_title }} ({{ movie.title_year | safe }})</a></h4>

        {% if movie.movie_genres %}
              <p>genre: {{ movie.movie_genres | safe }}</p>
        {% endif %}

        {% if movie.director_name %}
              {{ movie.director_name | safe }}
              <!-- <p>{{ site.description | safe }}</p> -->
        {% endif %}		
        <!-- add the country_area_names and description template tags -->

    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}
    </div>
  </div>
{% endblock content %}
