{% extends 'movies/base.html' %}


   <!-- safe filter on for raw HTML stored in database -->
   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ moviedetail.movie_title | safe }}</h2>
         </div>

         </div>

         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'movie_delete' moviedetail.pk %}">delete</a>
           {% endif %}
         </div>	  
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-secondary" href="{% url 'movie_update' moviedetail.pk %}">edit</a>
           {% endif %}
         </div>			 
     </header>

	 

     {% if moviedetail.movie_genres %}
       <div class="row">
         <div class="col-sm-2">
           <p>Genre</p>
         </div>
         <div class="col-sm-10">
           <p>
             {{ moviedetail.movie_genres }}</p>
       </div>
	  </div> 
     {% endif %}

     {% if moviedetail.movie_keywords %}
       <div class="row">
         <div class="col-sm-2">
           <p>Keyword</p>
         </div>
         <div class="col-sm-10">
           <p>
           {{ moviedetail.movie_keywords }}</p>
       </div>
	  </div> 
     {% endif %}	 
	 

     {% if moviedetail.title_year %}
       <div class="row">
         <div class="col-sm-2">
           <p>Year</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.title_year }}</p>
         </div>
       </div>
     {% endif %}

     {% if moviedetail.color %}
       <div class="row">
         <div class="col-sm-2">
           <p>Color</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.color }}</p>
         </div>
       </div>
     {% endif %}

    {% if moviedetail.director %}
       <div class="row">
         <div class="col-sm-2">
           <p>Director</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.director }}</p>
         </div>
       </div>
     {% endif %}

     {% if moviedetail.language %}
       <div class="row">
         <div class="col-sm-2">
           <p>Language</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.language }}</p>
         </div>
       </div>
     {% endif %}

     {% if moviedetail %}
       <div class="row">
         <div class="col-sm-2">
           <p>Country</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.country }}</p>
         </div>
       </div>
     {% endif %}


     {% if moviedetail.content_rating.content_rating %}
       <div class="row">
         <div class="col-sm-2">
           <p>Content-rating</p>
         </div>
         <div class="col-sm-10">
           {{ moviedetail.content_rating.content_rating | safe }}
         </div>
       </div>
     {% endif %}

    {% if moviedetail.imdb_score %}
       <div class="row">
         <div class="col-sm-2">
           <p>Score</p>
         </div>
         <div class="col-sm-10">
           {{ moviedetail.imdb_score | safe }}
         </div>
       </div>
     {% endif %}

     {% if moviedetail.duration %}
       <div class="row">
         <div class="col-sm-2">
           <p>Duration</p>
         </div>
         <div class="col-sm-10">
           <p>{{ moviedetail.duration }} (<span style="font-style:italic">min</span>.)</p>
         </div>
       </div>
     {% endif %}

     {% if moviedetail.movie_imdb_link %}
       <div class="row">
         <div class="col-sm-2">
           <p>Link</p>
         </div>
         <div class="col-sm-4">
           <p>{{ moviedetail.movie_imdb_link }}</p>
         </div>
       </div>
     {% endif %}


   {% endblock content %}
